<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Beginners</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"> 
    <style>
        body {
            margin: 5%; 
            font-family: 'Quicksand', sans-serif;
        }
        
        .active {
            background: salmon;
            border: 0;
            padding: 5px;
            color: white;
            outline: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <img src="image/logo.png" width="80">
            <h1 v-text="name"></h1>
            <h3>Form Submit.</h3>
            <p>
                <input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit" v-model="kelasbaru">
            </p>
            
            <h3>Daftar Kelas ({{ kelas.length }})</h3>

            <template v-if="kelas.length > 0">
                <ul>
                    <li v-for="(item, index) of kelas">{{ index + 1 }} - {{ item }}</li>
                </ul>
            </template>
            <li v-else>Kelas belum tersedia.</li>

            <h3>Mencari bilangan genap dari data : {{ numbers }}</h3>
            <ul>
                <li v-for="x of bilGenap(numbers)">{{ x }}</li>
            </ul>
            <div>
                <label><input type="checkbox" value="React">React</label>
                <label><input type="checkbox" value="Vuejs">Vuejs</label>
                <label><input type="checkbox" value="Angular">Angular</label>
            </div>
            
            <p>
                <button @click="handleClick">click</button>
            </p>
            <img :src="gambar" width="500">
            <p>{{ message }}</p>

            <a v-bind:class="{active: menu === 'home'}" href="#" @click.prevent="gantiMenu('home')">Home</a>
            <a v-bind:class="{active: menu === 'about'}" href="#" @click.prevent="gantiMenu('about')">About</a>
            <a v-bind:class="{active: menu === 'blog'}" href="#" @click.prevent="gantiMenu('blog')">Blog</a>

        </header>
    
        <footer id="footer">
            <p>copyright 2020</p>
        </footer>  
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>

        const vm = new Vue({
            el: '#app',
            data: {
                name: 'Naufal Akmal',
                message: "Hello Akmal!",
                quantity: 2,
                namaDepan: "Muhammad",
                namaBelakang: " Naufal Akmal",
                bilangan: 1,
                link: '<a href="">Klik Disini</a>',
                gambar: 'image/2.jpg',
                menu: 'home',
                kelas: ['html','css'],
                kelasbaru: "",
                numbers: [1,2,3,4,5,6]
            },
            methods: {
                getname: function () {
                    return `Hello, ${this.name}`;
                },
                ubahNama: function (namaBaru) {
                    this.name = namaBaru;
                    return this.getname();
                },
                handleClick: function () {
                    this.bilangan++;
                    this.gambar = 'image/3.jpg';
                },
                gantiMenu: function (data) {
                    this.menu = data;
                },
                bilGenap: (data) => {
                    return data.filter(angka => angka % 2 == 0)
                },
                submit: function () {
                    this.kelas.unshift(this.kelasbaru);
                    this.kelasbaru = "";
                }

            },
            computed: {
                totalBayar: function () {
                    return this.quantity * 10000
                },
                namaLengkap: function () {
                    return this.namaDepan + this.namaBelakang
                },
                infoBilangan: function () {
                    return this.bilangan % 2 === 0 ? 'genap' : 'ganjil';
                }
            }
        });
    </script>
</body>
</html>